body {
    background-color: black;
    background-image: url("index.jpg");
    background-size: cover;
    padding: 10px;
}
h1, h2, h3, h4, h5, pre {
    color: white;
}
h1,h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3,h4,h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
pre {
    font-family: 'Times New Roman', Times, serif;
}
.centerize_h {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.centerize_v {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.top_info * {
    text-align: center;
}
.top_info {
    transition: 250ms;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 5px;
}
.top_info:hover {
    transition: 250ms;
}
.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}
.main_part {
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    position: relative;
    padding: 20px;
}
.main_part_parts {
    transition: 500ms;
    width: 1000px;
    background-color: blue;
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid indigo;
}
.main_part_parts * {
    text-align: center;
}
.main_part_parts:hover {
    transition: 500ms;
    background-color: purple;
    border: 2px solid darkblue;
}
::-webkit-scrollbar {
    background-color: gray;
    border: 3px solid rgb(51, 51, 51);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
::-webkit-scrollbar-button {
    border-radius: 100%;
}